{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        metosin/jsonista {:mvn/version "0.3.5"}
        com.code-intelligence/jazzer-clj {:mvn/version "0.1.0"}}
 :aliases {:jazzer {:extra-deps {com.code-intelligence/jazzer {:mvn/version "0.20.1"}
                                 com.code-intelligence/jazzer-api {:mvn/version "0.20.1"}}}
           :build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.4"}}
                   :ns-default build}}}
